<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="container">
    <span>
        <label>
            <button>
                <a th:href="@{/admin}">Go Back</a>
            </button>
        </label>
    </span>
    <table class="table table-bordered table-striped">
        <tr th:each="error:${errors}">
            <td th:text="${error}"></td>
        </tr>
    </table>
    <br/>
    <div th:insert="fragments/movie-form :: movie-form(${action}, ${movieForm})"></div>
</div>
</body>
</html>