<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div th:insert="fragments/back-to-admin-page :: back-to-admin-page"></div>
<div class="moviesContainer">
    <h1>Movies</h1>
    <br/>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr th:each="movie:${movies}">
            <td>
                <span style="color: white" th:text="${movie.title}"></span>
                <button class="btn btn-primary">
                    <a th:href="@{${href}(id=${movie.id})}">CHOOSE</a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>