<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div>
    <table class="table table-bordered table-striped">
        <tbody>
        <tr>
            <td>Manage Movies:</td>
            <td><a class="btn btn-primary" th:href="@{/add-movie}">Add New Movie</a></td>
            <td><a class="btn btn-primary" th:href="@{/edit-movie-search}">Edit Movie</a></td>
            <td><a class="btn btn-primary" th:href="@{/delete-movie-search}">Delete Movie</a></td>
        </tr>
        <tr>
            <td>Manage Showrooms:</td>
            <td><a class="btn btn-primary" th:href="@{/add-showroom}">Add New Showroom</a></td>
            <td><a class="btn btn-primary" th:href="@{/edit-showroom}">Edit Showroom</a></td>
            <td><a class="btn btn-primary" th:href="@{/delete-showroom}">Delete Showroom</a></td>
        </tr>
        <tr>
            <td>Manage Screenings:</td>
            <td><a class="btn btn-primary" th:href="@{/add-screening-search}">Add New Screening</a></td>
            <td><a class="btn btn-primary" th:href="@{/edit-screening-search}">Edit Screening</a></td>
            <td><a class="btn btn-primary" th:href="@{/delete-screening-search}">Delete Screening</a></td>
        </tr>
        <tr>
            <td>Manage Users:</td>
            <td><a class="btn btn-primary" th:href="@{/manage-user-accounts}">Manage User Accounts</a></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>