<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header"></div>
</head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div th:insert="fragments/errors :: errors"></div>
<div class="container">
    <form method="get" th:action="@{/choose-seats-to-book(id=${screening.id})}">
        <button class="btn btn-primary" style="font-size: xx-large;">Edit Seat Selection</button>
    </form>
    <table class="table table-primary table-bordered">
        <tbody>

        </tbody>
    </table>
</div>
</body>
</html>