<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="fragments/header :: header"></div>
</head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="container">
    <div th:insert="fragments/errors :: errors"></div>
    <div class="bold-white-text center-text">
        <h1 th:text="'Book seats for ' + ${screening.movieTitle}"></h1>
        <h1 th:text="'Showtime: ' + ${screening.showDateTimeFormatted()}"></h1>
        <h1 th:text="'Endtime: ' + ${screening.endDateTimeFormatted()}"></h1>
        <h1 th:text="'Showroom ' + ${screening.showroomLetter}"></h1>
    </div>
    <form th:action="@{/book-seats(id=${screening.id})}" th:object="${seatIdsForm}" method="get">
        <table class="table table-bordered table-striped">
            <thead>
            <tr>
                <th>Choose Seats</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="rowEntry : ${mapOfScreeningSeats}">
                <td th:text="'Row ' + ${rowEntry.key}"></td>
                <td th:each="seat : ${rowEntry.value}">
                    <label>
                        <input type="checkbox"
                               th:field="*{list}"
                               th:value="${seat.id}"
                               th:text="${seat.seatDesignation()}"
                               th:disabled="${seat.isBooked == true}">
                    </label>
                </td>
            </tr>
            <tr>
                <td th:if="${userIsCustomer == true}">
                    <input class="btn btn-primary" type="submit" value="submit">
                </td>
            </tr>
            </tbody>
        </table>
    </form>
    <div th:if="${userIsCustomer == false}">
        <span class="bold-white-text center-text">
            Cannot book seats if not logged in as a customer
        </span>
    </div>
</div>
</body>
</html>