<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>

<div class="container">

    <h1>Welcome</h1>
    <h1>1. Visit <a th:href="@{/login}">Login page (available to any user)</a> </h1>
    <h1>2. Visit <a th:href="@{/customer}">Customer page (requires customer role)</a></h1>
    <h1>3. Visit <a th:href="@{/moderator}">Moderator page (requires moderator role)</a></h1>
    <h1>4. Visit <a th:href="@{/admin_trainee}">Admin trainee page (requires admin trainee role)</a></h1>
    <h1>5. Visit <a th:href="@{/admin}">Admin page (requires admin role)</a></h1>

</div>

</body>
</html>