<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="container">
    <form method="get" th:action="@{/movie-info/{id}(id=${movieId})}">
        <button class="btn btn-outline-success">Go Back to Movie Info Page</button>
    </form>
    <ul class="list-group-horizontal" th:if="${totalPages > 0}">
        <li th:each="pageNumber:${pageNumbers}">
            <a class="btn btn-outline-primary" th:classappend="${page == pageNumber ? 'active' : ''}"
               th:href="@{/movies(search=${search}, page=${pageNumber})}" th:text="${pageNumber}">
            </a>
        </li>
    </ul>
    <table>
        <tr>
            <th>Showroom</th>
            <th>Show Time</th>
            <td>End Time</td>
            <th>Seats Available</th>
        </tr>
        <tr th:each="screening:${screenings}" style="border: red">
            <td th:text="${screening.showroomLetter}"></td>
            <td th:text="${screening.showDateTimeFormatted()}"></td>
            <td th:text="${screening.endDateTimeFormatted()}"></td>
            <td th:text="${screening.seatsAvailable} + '/' + ${screening.totalSeatsInRoom}"></td>
            <td>
                <form method="get" th:action="@{/choose-seats-to-book(id=${screening.id})}">
                    <button class="btn-outline-primary" style="font-size: xx-large">Book Seats</button>
                </form>
            </td>
        </tr>
    </table>
</div>
</body>
</html>