<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="moviesContainer">
    <div class="row">
        <h1 th:text="${movie.title}"></h1>
    </div>
    <div class="row">
        <img th:src="${movie.image}" width="400" height="500" src="" alt="">
        <br/>
        <iframe width="960" height="540" th:src="${movie.trailer}"></iframe>
    </div>
    <br/>
    <form method="get" th:action="@{/movie-screenings/{id}(id=${movie.id})}">
        <button class="dropbtn" style="alignment: inherit; font-size: xx-large">Screenings</button>
    </form>
    &nbsp;
    &nbsp;
    &nbsp;
    <form method="get" th:action="@{/movie-reviews/{id}(id=${movie.id})}">
        <button class="dropbtn" style="alignment: inherit; font-size: xx-large">Reviews</button>
    </form>
    <br/>
    <table th:if="${avgRating >= 1}" style="border: red dot-dot-dash 1px">
        <tbody>
        <tr>
            <td>
                <span style="alignment: center; color: white">Average Rating Out Of 10 Stars:</span>
            </td>
            <td>
                <span style="alignment: center" th:each="star:${#numbers.sequence(1,avgRating)}">
                    <img th:src="@{/img/star.png}" width="50" height="50" src="" alt="">
                </span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<div class="moviesContainer">
    <table style="border: red solid 2px">
        <tbody>
        <tr>
            <td class="boldtext">Director</td>
            <td th:text="${movie.director}"></td>
        </tr>
        <tr>
            <td class="boldtext">Synopsis</td>
            <td th:text="${movie.synopsis}"></td>
        </tr>
        <tr>
            <td class="boldtext">Duration</td>
            <td th:text="${movie.duration}"></td>
        </tr>
        <tr>
            <td class="boldtext">Release Date</td>
            <td th:text="${movie.releaseMonth} + '-' + ${movie.releaseDay} + '-' + ${movie.releaseYear}"></td>
        </tr>
        <tr>
            <td class="boldtext">MSRB Rating</td>
            <td th:text="${movie.msrbRating}"></td>
        </tr>
        <tr>
            <td class="boldtext">Cast</td>
            <td>
                <span th:each="cast,iterStat:${movie.cast}"
                      th:text="${!iterStat.last} ? ${cast} + ', ': ${cast}"></span>
            </td>
        </tr>
        <tr>
            <td class="boldtext">Writers</td>
            <td>
                <span th:each="writer,iterStat:${movie.writers}"
                      th:text="${!iterStat.last} ? ${writer} + ', ': ${writer}"></span>
            </td>
        </tr>
        <tr>
            <td class="boldtext">Categories</td>
            <td>
                <span th:each="category,iterStat:${movie.movieCategories}"
                      th:text="${!iterStat.last} ? ${category} + ', ': ${category}"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<!-- JavaScript Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>
</html>