<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="moviesContainer">
    <form method="get" th:action="@{/movies(page=1)}">
        Search: <label for="search"></label>
        <input type="text" name="search"
               id="search" size="25" th:value="${search}" required/>
        <button class="button" type="submit">Go</button>
    </form>
    <table class="table-hover">
        <tr>
            <td th:if="${totalPages > 0}" th:each="pageNumber:${pageNumbers}">
                <a th:href="@{/movies(search=${search}, page=${pageNumber})}"
                   th:text="${pageNumber}" style="font-size: larger; font-weight: bold">
                </a>
            </td>
        </tr>
    </table>
    <table class="table table-hover">
        <tr th:each="movie:${movies}">
            <td>
                <a th:href="@{/movie-info/{id}(id=${movie.id})}">
                    <img th:src="${movie.image}" width="400" height="500" alt="" src="">
                </a>
            </td>
        </tr>
    </table>
    <table class="table-hover">
        <tr>
            <td th:if="${totalPages > 0}" th:each="pageNumber:${pageNumbers}">
                <a th:href="@{/movies(search=${search}, page=${pageNumber})}"
                   th:text="${pageNumber}" style="font-size: larger; font-weight: bold">
                </a>
            </td>
        </tr>
    </table>
</div>
</body>
</html>