<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="moviesContainer">
    <div th:if="${success != null}">
        <span th:text="${success}"></span>
    </div>
    <div th:if="${canWriteReview}">
        <span>
            <label>
                <button class="button">
                    <a th:href="@{/write-review/{id}(id=${movieId})}">Write Review</a>
                </button>
            </label>
        </span>
    </div>
    <table class="table-hover">
        <tr>
            <td th:if="${totalPages > 0}" th:each="pageNumber:${pageNumbers}">
                <button class="button" th:text="${pageNumber}">
                    <a th:href="@{/movies(search=${search}, page=${pageNumber})}"></a>
                </button>
            </td>
        </tr>
    </table>
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
        <tr>
            <th>Reviews</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="review:${reviews}" style="border: red">
            <td>
                <span th:text="${review.writer}" style="font-weight: bold"></span>
            </td>
            <td>
                <span th:text="${review.creationDateTimeFormatted()}" style="font-style: italic; color: gray"></span>
            </td>
            <td>
                <span th:text="${review.review}" style="max-width: 150px; word-wrap: break-word"></span>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>