<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header"></head>
<body>
<nav th:insert="fragments/webpage-top :: webpage-top"></nav>
<div class="moviesContainer">
    <table class="table-hover">
        <tr>
            <td th:if="${totalPages > 0}" th:each="pageNumber:${pageNumbers}">
                <button class="button" th:text="${pageNumber}">
                    <a th:href="@{/movies(search=${search}, page=${pageNumber})}"></a>
                </button>
            </td>
        </tr>
    </table>
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
        <tr>
            <th>Showroom</th>
            <th>Showtime</th>
            <th>Seats Available</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="screening:${screenings}" style="border: red">
            <td th:text="${screening.showroomLetter}"></td>
            <td th:text="${screening.showDateTime}"></td>
            <td th:text="${screening.seatsAvailable} + '/' + ${screening.totalSeatsInRoom}"></td>
            <td>
                <button class="button">
                    <a th:href="@{/screening/{id}(id=${screening.id})}">See the screening!</a>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>